$piet-black: #1B1C22;
$piet-red: #e32d1f;
$offwhite: #EFF0EB;
$piet-yellow: #FBD21A;
$piet-blue: #004590;


.div1 {
  background-color: $piet-red;
  grid-area: 1 / 1 / 2 / 2;
}


.div2 {
    background-color: $piet-black;
    grid-area: 1 / 2 / 2 / 2;
}
.div3 {
    background-color: $piet-black;
    grid-area: 2 / 1 / 2 / 3;
}
.parent {
  order: 1;
  margin-top: 0rem;
  width: 75vmin;
  height: 75vmin;
  display: grid;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  grid-template-columns: 20fr 1fr;
  grid-template-rows: 20fr 1fr;;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.posts {
    list-style: none;
    margin: 3rem;
}

.post {
    
}
