@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.texture {
  background-image: url(../assets/wallpaper.png);
}

a {
    text-decoration: none;
    color: black;;
}
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/wallpaper.png);
}

.title {
  text-align: center;
  margin: 2rem 0 0 0;
  flex-basis: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 2;
  font-size: 1.5rem;
  font-family: 'Special Elite', cursive;
}

.item {
  margin: 1rem;
}

.item:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 200ms ease-in;
 }


.item:hover span{
  opacity: 1;    
}
.parent div {
    background-image: url(../assets/wallpaper.png);
}
.parent {
  order: 1;
  margin-top: 0rem;
  width: 75vmin;
  height: 75vmin;
  display: grid;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  grid-template-columns: 12fr 0.5fr 7fr 6fr 0.5fr 2fr;
  grid-template-rows: 14fr 0.5fr 5fr 1fr 5fr 0.5fr 1fr;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media(max-width:500px) {
    .nav {
        font-size: 1rem;
    }

    .parent {
        width: 90vmin;
        height: 90vmin;
    }
}



.div1 {
  background-color: #e32d1f;
  grid-area: 1 / 1 / 2 / 2;
}

.div1:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 200ms ease-in;
}

.div2 {
  background-color: #EFF0EB;
  grid-area: 1 / 3 / 2 / 7; }

.div3 {
  background-color: #eff0eb;
  grid-area: 3 / 1 / 8 / 2; }

.div4 { 
  background-color: #eff0eb;
  grid-area: 3 / 3 / 6 / 5; }

.div5 {
  background-color: #004590;
  opacity: 0.95;
  cursor: pointer;
  grid-area: 3 / 6 / 4 / 7;
}

.div5:hover {
  opacity: .9;
  cursor: pointer;
  transition: opacity 200ms ease-in;
}

.div14 {
  background-color: #1B1C22;
  opacity: 0.95;
  grid-area: 4 / 6 / 4 / 7;
}

.div6 {
  grid-area: 4 / 6 / 7 / 7;
}

.div7 {
  background-color: #FBD21A;
  opacity: 0.95;
  grid-area: 7 / 3 / 8 / 4;
}

.div7:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 200ms ease-in;
}

.div8 {
  background-color: #1B1C22;  
  grid-area: 6 / 4 / 8/ 5;
}

.div9 {
  background-color: #1B1C22;
  grid-area: 1 / 2 / 8 / 3;
}

.div10 {
  background-color: #1B1C22;
  grid-area: 2 / 1 / 3 / 9;
}

.div11 {
  background-color: #1B1C22;
  grid-area: 6 / 3 / 6 / 5;
}

.div12 {
  background-color: #1B1C22;
  grid-area: 3 / 5 / 8 / 5;
}

.div13 {
  background-color: #ECEFE8;
  grid-area: 4 / 6 / 8 / 7;
}
